/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
Typography
*/

html {
}

strong {
    font-weight: 900;
}

.menu {
    clear: both;
    font-weight: 600;
}

.btn {
    background-color: rgba(0, 0, 0, .5);
    padding: 2vh 2vw;
    text-align: center;
    font-size: calc(12px + 1vw);
    float: left;
    width: 21%;
    transition: background-color .5s;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 1);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    line-height: 3vw;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: normal;
}

a {
    color: black;
    transition: color 1s;
}

a:hover {
    color: white;
}

.selected {
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

/*
BACKGROUND
*/

.back {
    background-color: #44318D;
    background-image: url(desatbg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-position: fixed; bottom: 100vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/*
Section Content
*/

.content {
    text-align: center;
    font-size: 3vw;
}

.title {
    padding: 10vh;
    font-size: 12vw;
    font-size: calc(60px + 3vw);
    display: none;
}

.profile {
    margin: 4%;
    margin-right: 0%;
    border-radius: 25%;
    float: left;
    width: calc(120px + 3vw);
}

.quote {
    margin: 4%;
    margin-top: calc((60px - 2vw) + 2vw);
    width: calc((100vw - 120px) - 15vw);
    float: right;
}

.icon {
    margin: 5%;
    margin-top: 0%;
    float: left;
    width: 15%;
    border-radius: 50%;
    opacity: .5;
    transition: opacity 2s;
}

.icon:hover {
    opacity: 1;
}

/*
ABOUT ME BODY
*/

.infome {
    margin: 5% 10% 0% 10%;
    height: auto;
    line-height: calc(120% + .5vw);
    font-size: calc(60% + .5vw);
    opacity: 0;
    transition: opacity 2s;
}

.infopic {
    position: static;
    margin: 4%;
    opacity: 0;
    transition: opacity 2s;
    width: 92%;
}

.triple {
    position: relative;
    float: left;
    background-color: rgba(255, 255, 255, 0);
    width: 33.33vw;
    height: 100vh;
    transition: background-color 2s;
}

.triple:hover {
    background-color: rgba(255, 255, 255, .2);
}

.triple:hover .infome {
    opacity: 1;
}

.triple:hover .infopic {
    opacity: 1;
}

/*
PROJECTS TABS
*/

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.proj {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}